<!DOCTYPE html>



<html    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Dashbord General</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
     <header>
        
        <div class="content-logo">
            <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/rynovitaly.appspot.com/o/ryno.png?alt=media&token=d4e82120-8df5-421b-9041-0f96f7d5a5b3" alt="logo"/>
            <h2 class="marca">Ryno Vitaly</h2>
        </div>
         
        <nav class="nav">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Puntos de venta</a></li>
                <li><a href="#">Contactenos</a></li>
                <li class="ingreso"><a th:href="@{/usuario/listado}">Ingresar o Registrarse</a></li>
                </ul>
        </nav>
        
    </header>
        <div class="forma"></div>
        
        <footer>
        <p class="p1">RinoVitaly © 2022 Derechos Reservados </p>
        <p class="p2">Diseñado por CodeLabs</p>
    </footer>
        
    </body>
</html>
