<!DOCTYPE html>

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     
<head th:replace="layout/plantilla::head">
    <head>
        <title>RynoVitaly</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        
        
        
        
        <section th:fragment="listadoProductos" id="productos">
            <div class="container">
                <h2>[[#{index.titulo}]]</h2> 
                
                <div id="resultsBlock">
                    
                </div>
                
                <div class="row row-cols-3" th:if="${productos !=null and !productos.empty}">
                    <div style="padding-bottom: 48px" class="card" th:each="producto : ${productos}">
                        <div class="card-body">
                            <h5 class="card-title">[[${producto.nombre}]]</h5>
                            
                            <figure>
                                
                                <img th:src="@{${producto.rutaImagen}}" width="120"/>
                                <figcaption>
                                        <h6 class="card-subtitle mb-2 text-muted text-end">
                                         ¢ [[${#numbers.formatDecimal(producto.precio,3,2)}]]</h6>
                                    <h6 class="card-subtitle mb-2 text-muted text-end">
                                        Unidades: [[${(producto.unidades)}]]</h6>
                                </figcaption>
                                
                            </figure>
                            
                            
                            <form  class="fcarrito">
                                <input type="hidden" name="texto" th:value="${producto.idProducto}"/>
                                <input type="hidden" name="texto" th:value="${producto.unidades}"/>
                           
                            
                                <p style="margin-left: 44px" class="card-text">[[${producto.descripcion}]]</p>
                            <hr style="color: transparent"><hr style="color: transparent">
                            <button class="btn btn-danger"
                                    id="addCar"
                                    name="addCar"
                                    onclick="addCard(this.form)"
                                    type="button" style="margin-top: 40px">
                                    
                                    <a>[[#{accion.agregar}]]</a>
                            </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div th:if="${productos ==null or productos.empty}">
                    <h2>[[#{producto.no_mostrar}]]</h2>
                </div>
            </div>

        </section>
        
        
        <div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}">
            <form action="/carrito/listado">
                <button
                    type="submit"
                    class="btn btn-primary">
                    <i class="fas fa-cart-plus"></i>
                    Ver Carrito
                </button>
            </form>
        </div>
        
        
        
        
        
        
        
        
        
        
        
        
        <section th:fragment="listadoArticulos" id="productos">
           <div class="container">
               <div class="row row-cols-2">  
            <h2 class="inline" th:text="#{index.titulo}">Nuestros Articulos</h2>  
            <div id="resultsBlock">
                </div>
            </div>
            
            <div class="row row-cols-3" 
                 th:if="${productos != null and !productos.empty}">
                <div class="card" th:each="producto : ${productos}" >
                      
                    <div class="card-body">
                        <h5 class="card-title">[[${producto.descripcion}]]</h5>
                        
                        <figure>
                            <img th:src="@{${producto.rutaImage}}" width="120"/>
                            <figcaption>
                                [[${new java.text.DecimalFormat('¢#,##0.00').format(producto.precio)+'('+producto.existencias+')}]]   
                            </figcaption>  
                        </figure>

                        <form>
                            <input type="hiden" name="texto" th:value="${producto.idProducto}"/>
                            <input type="hiden" name="texto" th:value="${producto.existencias}"/>
                            <button class="btn btn-ligth"
                                    id="addCar"
                                    name="addCar"
                                    onclick="addCard(this.form)"
                                    type="button">
                                <i class="fas fa-cart-plus"></</i>
                            </button>
                          
                        </form>
                        
                        <p class="card-text">[[${producto.detalle}]]</p>
                                               
                    </div>
                </div>                
            </div>
            <div th:if="${productos == null or productos.empty}"  >
                [[#{producto.no_mostrar}]]
            </div>
        </div>
        </section>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <div style="background-color: transparent"  th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}">
            <form   action="/carrito/listado">
                <button
                    type="submit"
                    class="btn btn-primary">
                    <i clas="fas fa-cart-plus"></i>Ver Carrito [[${listaTotal}]]
                </button> 
            </form> 
        </div>
        
        
        
        
        
        
        
        
        
        
        
         <section th:fragment="listadoCarrito" id="items">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Carrito</h4>
                            </div>
                            <div th:if="${items != null and !items.empty}">
                                
                                <table class="table table-stryped"  style="position: initial">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th  style="text-align: center">#</th>
                                            <th  style="text-align: center">Nombre:</th>
                                            <th style="text-align: center">Precio:</th>
                                            <th>Unidades:</th>
                                            <th  style="text-align: center">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item, contador : ${items}">
                                            <td  style="color:black">[[${contador.count}]]</td>
                                            <td  style="color:black">[[${item.nombre}]]</td>
                                            <td  style="color:black" class="text-end">[[${(item.precio)}]]</td>
                                            <td  style="color:black" class="text-end">[[${(item.cantidad)}]]</td>
                                            <td   style="color:black"class="text-end">[[${new java.text.DecimalFormat('¢#,##0.00').format(item.cantidad*item.precio)}]]</td>
                                            <td>
                                                <a th:href="@{/carrito/eliminar/}+${item.idProducto}"
                                                   class="btn btn-danger">
                                                    <i class='fas fa-trash'></i>[[#{accion.eliminar}]]
                                                   
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/carrito/modificar/}+${item.idProducto}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${items == null or items.empty}">
                                <span>Lista vacía</span>
                            </div>
                        </div>
                    </div>
                       <div class="col-md-3">
                        <div class="card text-center bg-primary text-white mb-3">
                            <div class="card-body">
                                <h3>Total de compra</h3>
                                <h4 class="fs-4">
                                    [[${(carritoTotal)}]]
                                </h4>
                                
                            </div>
                        </div>

                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <a th:href="@{/}"
                                 class="btn btn-success">
                                    <i class="fas fa-reply"></i> Seguir Comprando
                                </a>
                            </div>
                        </div>
                           <div class="card text-center bg-info text-white mb-3">
                               <div class="card-body">
                                   <a th:href="@{/facturar/carrito}"
                                      class="btn btn-info">
                                       <i class="fas fa-fordward"></i> Facturar
                                   </a>
                               </div>
                           </div>
                    </div>
                </div>
            </div>
        </section>
        
                <section th:fragment="botonesEditar">
            <div id="actions" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{/item/listado}" class="btn btn-ligth btn-block">
                                <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a th:href="@{/item/eliminar/}+${item.idProducto}"
                               class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
</html>
