<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Dashboard - Usuario</title>
        <meta charset="UTF-8">
            <link href="/css/reset.css" rel="stylesheet" type="text/css"/>
            <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <header th:replace="layout/plantilla :: header"/>
           <div class="forma"></div>
        
        
        
        
        <a th:href="@{/usuario/listado}">Regresar</a>
        <br/>
        <form th:action="@{/usuario/guardar}"
            method="post"
            th:object="${usuario}">
            
            <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
            
            
            
            <label  for="nombre">[[#{usuario.nombre}]]</label>
            <input type="text" name="nombre" th:field="*{nombre}">
            <br/>
            
            <label  for="apellidos">[[#{usuario.apellidos}]]</label>
            <input type="text" name="apellidos" th:field="*{apellidos}">
            <br/>
            
            <label for="email">[[#{usuario.correo}]]</label>
            <input type="email" name="email" th:field="*{email}">
            <br/>
            
            <label  for="contrasena">[[#{usuario.contraseña}]]</label>
            <input type="password" name="contrasena" th:field="*{contrasena}">
             <br/>  
                
             <label for="telefono">[[#{usuario.telefono}]]</label>
            <input type="number" name="telefono" th:field="*{telefono}">
            <br/>
            
             <label  for="administrador">[[#{usuario.administrador}]]</label>
            <input type="text" name="administrador" th:field="*{administrador}">
            <br/>
            
          
            
            
          
            
            
            //<button type="submit" th:text="#{accion.guardar}"/>
            <input class="guardar" type="submit" name="guardar" value="Guardar"/>
            
        </form>
        
        
        
        
        
        <div th:if="${usuarios != null and !usuarios.empty}">
            
       
            
        </div>
        
        
        
        
                <footer th:replace="layout/plantilla :: footer"/>

    </body>
</html>
