<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Dashboard - Usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
                <header th:replace="layout/plantilla :: header"/>

        
        
        
         <h1>Datos de Usuario</h1>
        <a th:href="@{/}">Regresar</a>
        <hr/>
        <form th:action="@{/usuario/guardar}"
            method="post"
            th:object="${usuario}">
            
            
            <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
            
            
            
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" th:field="*{nombre}">
            <br/>
            
            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" th:field="*{apellidos}">
            <br/>
            
            <label for="correo">Email</label>
            <input type="email" name="email" th:field="*{email}">
            <br/>
            
            <label for="telefono">Contraseña</label>
            <input type="text" name="contrasena" th:field="*{contrasena}">
             <br/>  
                
             <label for="telefono">Telefono</label>
            <input type="number" name="telefono" th:field="*{telefono}">
            <br/>
            
             <label for="administrador">Administrador</label>
            <input type="text" name="administrador" th:field="*{administrador}">
            <br/>
            
            
            
            <hr/>
            
            
            
            <input type="submit" name="guardar" value="Guardar"/>
            
        </form>
        
        
        
        
        
        <div th:if="${usuarios != null and !usuarios.empty}">
            
       
            <table border="1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="usuario : ${usuarios}">
                        <td> [[${usuario.nombre}]]</td>
                        <td> [[${usuario.apellidos}]]</td>
                        <td>[[${usuario.correo}]]</td>
                        <td>[[${usuario.telefono}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${usuarios ==null or usuarios.empty}">
            <h2>No se tienen usuarios que mostrar</h2>
        </div>
        
        
        
                <footer th:replace="layout/plantilla :: footer"/>

    </body>
</html>
