<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Categoria</title>
        <meta charset="UTF-8">
        <link href="/css/reset.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/> 
        <div class="contenido">
            <h2>Listado de categoria</h2>
            <a th:href="@{/categoria/nueva}"> Nueva Categoria<a/>
                <div th:if="${categorias != null and !categorias.empty}">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Activa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="categoria : ${categorias}">
                                <td th:text="${categoria.descripcion}"></td>  
                                <td><input type="checkbox" name="activa" th:checked="${categoria.activo}" disabled="true"></td>
                                <td><a th:href="@{/categoria/eliminar} + ${categoria.idCategoria}">Eliminar<a/></td>
                                <td><a th:href="@{/categoria/modificar} + ${categoria.idCategoria}">Modificar<a/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${categorias == null or categorias.empty">
                    No tenemos categorias por mostrar.
                </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </header>   
</body>
</html>
