<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dashboard - Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
            <link href="/css/reset.css" rel="stylesheet" type="text/css"/>
     <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        
        
    
        
        <div th:if="${usuarios != null and !usuarios.empty}">
            <div class="forma"></div>
            
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Contraseña</th>
                        <th>Telefono</th>
                        <th>Administrador</th>
                        <th>Eliminar</th>
                        <th>Editar</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="usuario : ${usuarios}">
                        <td> [[${usuario.nombre}]]</td>
                        <td> [[${usuario.apellidos}]]</td>
                        <td>[[${usuario.email}]]</td>
                        <td>[[${usuario.contrasena}]]</td>
                        <td>[[${usuario.telefono}]]</td>
                        <td>[[${usuario.administrador}]]</td>
                        <td><a th:href="@{eliminarUsuario/} + ${usuario.idUsuario}"> <button class="eliminar" >  Eliminar </button> </td>
                        <td><a th:href="@{modificar/} + ${usuario.idUsuario}"> <button class="editar" > Editar   </button></td>
                    </tr>
                </tbody>
            </table>
            
            <button class="agregar"> <a th:href="@{/usuario/nuevo}">Nuevo Usuario</a> </button>
            
        </div>
        <div th:if="${usuarios ==null or usuarios.empty}">
            <h2>No se tienen usuarios que mostrar</h2>
        </div>
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
