<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dashboard - addCarrito</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
            <link href="/css/reset.css" rel="stylesheet" type="text/css"/>
     <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        
        
    
        
        <div th:if="${articulos != null and !articulos.empty}">
            <div class="forma"></div>
            
            <table>
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Comprar</th>
                      
                        
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="articulo : ${articulos}">
                        <td> [[${articulo.descripcion}]]</td>
                        <td> [[${articulo.precio}]]</td>
                        <td><a th:href="@{/carrito/agregar/} + ${articulo.idArticulo}">Agregar</a></td>
                       
                        <td><a th:href="@{categoria/eliminar} + ${categoria.idCategoria}"> <button class="eliminar" >  Eliminar </button> </td>
                        <td><a th:href="@{categoria/modificar} + ${categoria.idCategoria}"> <button class="editar" > Editar   </button></td>
                    </tr>
                </tbody>
            </table>
            
            <button class="agregar"> <a th:href="@{/articulos/nuevo}">Nuevo Usuario</a> </button>
            
        </div>
        <div th:if="${articulos ==null or articulos.empty}">
            <h2>No se tienen articulos que mostrar</h2>
        </div>
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
