<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://wwww.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet" type="text/css"/>
     <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <title>[[#{aplicacion.titulo}]]</title>
</head>
<body>
   <header th:replace="layout/plantilla :: header"/>
    <div class="forma"></div>
    <div class="context-principal">
         <h1 class="texto-principal">[[#{index.texto_principal}]]</h1>
    </div>
   
    <button class="btn-promo">[[#{index.promo}]]</button>
    <button class="btn-sus">[[#{index.subcripcion}]]</button>
    
    
    <img class="pre-entreno" src="https://firebasestorage.googleapis.com/v0/b/rynovitaly.appspot.com/o/PreEntreno-removebg-preview(1).png?alt=media&token=ddbe22ab-2a36-4265-832d-297791efa78a" alt="pre-entreno"/>
    <img class="prote" src="https://firebasestorage.googleapis.com/v0/b/rynovitaly.appspot.com/o/proteina_1_-removebg-preview.png?alt=media&token=eabda1a6-d0e7-4b80-8803-8084ec623956" alt="pre-entreno"/>

    
    <footer th:replace="layout/plantilla :: footer"/>
</body>
</html>