<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    <head>
        <title>Categoria</title>
        <meta charset="UTF-8">
            <link href="/css/reset.css" rel="stylesheet" type="text/css"/>
            <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>  
        <div class="forma"></div>
        <div class="contenido">

            <button class="agregar"><a th:href="@{/categoria/nuevo}">Nuevo Categoria</a></button>
            <div th:if="${categorias !=null and !categorias.empty}">
                <table border="1">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Activo</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                    <tr th:each="categoria : ${categorias}">
                        <td>[[${categoria.nombre}]]</td>
                        <td>[[${categoria.descripcion}]]</td>
                        <td style="text-align: center">
                            <input type="checkbox" 
                                   name="activo" 
                                   th:checked="${categoria.activo}" 
                                   disabled="true"/>
                        </td>                                               

                        <td><a th:href="@{/categoria/eliminar/}+${categoria.idCategoria}"> <button class="eliminar" >Eliminar</button></a></td>
                        <td><a th:href="@{/categoria/modificar/}+${categoria.idCategoria}"><button class="editar" >Modificar</button></a></td>
                    </tr>            
                </table>
            </div>

            <div th:if="${categorias ==null or categorias.empty}">
                <h2>No hay categorias que mostrar</h2>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
