<!DOCTYPE html>

<html 
      xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    >
    <head>
        <title>Tienda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="/css/reset.css" rel="stylesheet" type="text/css"/>
     <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
      <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>       
      <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>        
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>        
      <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>        
      <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        
        
        <header th:replace="layout/plantilla :: header"/>
        <div class="container">
            <h2>[[#{index.titulo}]]</h2>            
            <div class="row row-cols-3" th:if="${articulos !=null and !articulos.empty}">
                <div class="card" th:each="articulo : ${articulos}">
                    <div class="card-body">
                        <h5 class="card-title">[[${articulo.descripcion}]]</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-end">
                            [[${#numbers.formatDecimal(articulo.precio,3,2)}]]</h6>
                        <img th:src="@{${articulo.rutaImagen}}" width="120"/>
                        <a class="card-link" th:href="@{/carrito/agregar/} + ${articulo.idArticulo}">[[#{accion.agregar}]]</a>
                        <p class="card-text">[[${articulo.detalle}]]</p>
                    </div>
                </div>
            </div>

            <div th:if="${articulos ==null or articulos.empty}">
                <h2>[[#{articulo.no_mostrar}]]</h2>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
            
            
            
    </body>
</html>
